body {
    margin: 0;
    padding: 0;
}

/* INDEX */
body {
    background-color: #3b3a3a;
}
.offcanvas-header {
    background-color: #3b3a3a;
    color: white;
}
.offcanvas-body {
    background-color: #3b3a3a;
    color: white;
}
.segmento {
    margin-top: 100px;
    text-align: center;
    color: white;
}
.segmento h2 {
    color: #726f6f;
    display: flex;
    margin-top: 70px;
    justify-content: center;
    width: 100%;
    font-size: 45px;
}
.small {
    color: white;
}

footer div {
    display: flex;
    justify-content: space-around;
}
footer div p {
    margin-top: 5px;
    margin-bottom: auto;
    text-align: center;
}

/* NINIOMAFIA*/
.titulo {
    color: #726f6f;
    display: flex;
    margin-top: 70px;
    justify-content: center;
    width: 100%;
}
.video-responsive {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
}
.video-responsive iframe, .video-responsive object, .video-responsive embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.ninio__description {
    display: inline-block;
    padding: 15px;
    color: white;
    text-align: center;
    margin: 20px 40px;
}
.ninio__description img {
    max-width: 50px;
    max-height: none;
}





/* RESPONSIVE NINIO*/
@media screen and (min-width: 1024px) {
    #principal {
        display: flex;
        margin-top: 50px;
        max-height: min-content;
    }
}
@media screen and (min-width: 1024px) {
    .ninio__description {
        display: flex;
        flex-flow: column wrap;
        max-width: 100%;   
        max-height: 100%;
    }
    .video-responsive {
        min-width: 760px;
    }
    .video-responsive iframe, .video-responsive object, .video-responsive embed {
        height: 50%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    footer {
        display: contents;
        justify-content: baseline;
    }
}

/* ANIMACION NINIO */
@keyframes mi-animacion {
    0% { color: #726f6f; }
    10% { color: #4d4a4a; }
    20% { color: #3a3838; }
    30% { color: #222121; }
    40% { color: #141414; }
    50% { color: #000000; }
    60% { color: #141414; }
    70% { color: #222121; }
    80% { color: #3a3838; }
    90% { color: #4d4a4a; }
    100% { color: #726f6f; }
}

.titulo {
    animation-name: mi-animacion;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-delay: 1s;
}
/* ANIMACIONES-INDEX */
@keyframes mi-animacion {
    0% { color: #726f6f; }
    10% { color: #4d4a4a; }
    20% { color: #3a3838; }
    30% { color: #222121; }
    40% { color: #141414; }
    50% { color: #000000; }
    60% { color: #141414; }
    70% { color: #222121; }
    80% { color: #3a3838; }
    90% { color: #4d4a4a; }
    100% { color: #726f6f; }
}

.segmento h2 {
    animation-name: mi-animacion;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 4s;
    animation-delay: 1s;
}

