//NINIO RESPONSIVE
/* RESPONSIVE NINIO*/
@media screen and (min-width: 1024px) {
    #principal {
        display: flex;
        margin-top: 50px;
        max-width: 100%;
    }
    .video-responsive {
        min-width: 780px;
        max-height: 50%;
    }
    
    .ninio__description {
        display: flex;
        flex-flow: column wrap;
        max-width: 100%;   
        max-height: 100%;
    }
    
    footer {
        display: contents;
        justify-content: baseline;
    }
}

//LA LOOPERA BAILABLE RESPONSIVE//

/* LA LOOPERA RESPONSIVE */
@media screen and (min-width: 1024px) {
    .pie {
        display: contents;
        justify-content: baseline;
    }
}

//TROUPE PERCUSION//
/*TROUPE PERCUSION*/

@media screen and (min-width: 1024px) {
    .bloque {
        display: flex;
    }
    #carouselExampleInterval {
        max-width: 500px;
        max-height: 500px;
        margin: 0 auto 30px;
    }
    .introduccion__percu {
        max-width: 520px;
        max-height: 500px;
        margin: 20px auto;
    }
}

// TU PROYECTO //
/* TU PROYECTO */

