//INDEX
/*INDEX*/
$colorPrincipal: #3b3a3a;
$colorTitulos: #726f6f;

body {
    margin: 0;
    padding: 0;
    background-color: $colorPrincipal;
}

.offcanvas-header {
    background-color: $colorPrincipal;
    color: white;
}
.offcanvas-body {
    background-color: $colorPrincipal;
    color: white;
}

.bajada {
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    text-align: center;
    & &__bajada {
        color: $colorTitulos;
        font-size: 40px;
    }
    & &__parrafo {
        color: white;
        font-size: medium;
    }
    & &__anc {
        text-decoration: none;
    }
}
 .segmento {
     text-align: center;
     color: white;
     h2 {
         color: $colorTitulos;
         display: flex;
         margin-top: 30px;
         justify-content: center;
         width: 100%;
         font-size: 30px;
     }
 }
 
 footer {
     div {
         display: flex;
         justify-content: center;
     }
     p {
         color: white;
         margin-top: 5px;
         margin-bottom: auto;
         text-align: center;
     }
 }